<html lang="en">
    <head>
        <title>update</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#e6ffee">

                <h1>Update User Details</h1>
                <br>
            <form method="post">

                    <input type="text" name="username" placeholder="username"  id="username" required>
                    <br>
                    <br>
                    <input type="password" name="password" placeholder="password"  id="password" required>
                    <br>
                    <br>
                    <input type="email" name="email" placeholder="email"  id="email" required>
                    <br>
                    <br>
                    <input type="number" name="phone" placeholder="phone"  id="phone" required>
                    <br>
                    <br>
                    <input type="text" name="address" placeholder="address" id="address" required>
                    <br>
                    <br>
                    <input type="text" name="city" placeholder="city"  id="city" required>
                    <br>
                    <br>
                    <input type="text" name="state" placeholder="state" id="state" required>
                    <br>
                    <br>
                    <input type="text" name="country" placeholder="country"  id="country" required>
                    <br>
                    <br>
                    <input type="text" name="postcode" placeholder=" Postcode"  id="postcode" required>
                    <br>
                    <br>
                    <input type="submit" value="Update">
            </form>

    </body>
</html>