
<nav class="navbar">
    <h3>Online Food App !</h3>
    <div class="d-flex">

    </div>
</nav>
<div class="d-flex  justify-content-center  ">
    

    <div>
  
    <div class="container">
        <div class="row">
            <img src="/assets/images/home.jpg" alt="Image 1">
        </div>
        <h3>Restaurant Partner Dashboard</h3>
        <div class="button_container d-flex justify-content-center ">
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
        <br>
        <br>
        <button type="button" class="_btn" (click)="register()">Register</button>
         </div>
    </div>
</div>
   


</div>