<!-- <p>Greetings</p>
<p>{{username}}</p>
<h3 *ngIf="displayName;else elseBlock"><button (click)="student()" >Submit-Click</button></h3>

   <ng-template #elseBlock>
   <h3 >ngIf-Name is hidden</h3>
   </ng-template>
   
<p>Student Info:{{message}}</p>
<button (click)="student()" >Submit</button>
<button (click)="greet()">Click</button> -->

<!-- <p>Greetings</p>
<p class="username">{{ username }}</p>
<p class="message">Student Info: {{ message }}</p>

<button class="submit" (click)="student()">Submit</button>
<button class="click" (click)="greet()">Click</button> -->
