<h1>Good Morning</h1>
<!-- <div class="container">
    <h1 style="color:whitesmoke;">Important Features </h1>
    
    <ul>
     <li><b>Component -Based Architecture:</b> Application is built using reusable components, each with own logic, View and styling</li>
  
     <li><b>Two way Data Binding :</b>Angular Enables automatic Synchronization of data between the model and the view make it easy to manage changes in the application state.</li> 
      
     <li> <b>Dependency Injection:</b> Angular offers a built in dependency injection system facilitating efficient component communication and managing dependencies</li>
      
     <li><b> Directives and pipes:</b> Directives allow developers to extend HTML attributes for adding behaviour to elements while pipes transform data in the templates</li>
      
      <li><b>Routing and Navigation:</b> Angular's routing system allows for creation of single page application with multiple views and navigation between them.</li>
    </ul> 
  </div>
  <br>
  <br> -->
<button (click)="back()" class="_button">Back</button>
