<div class="container">

    <form [formGroup]="myForm" (ngSubmit)="onClick()"     class="form_">
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter Email" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter  Password" class="form-control">
      </div>

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" placeholder="Enter Name" class="form-control">
      </div>

      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="number" id="phone" formControlName="phone" placeholder="Enter Number" class="form-control">
      </div>
  
      <div class="form-group">
        <button *ngIf="myForm.valid" type="submit" class="btn btn-primary">Update</button>
      </div>

    </form>
  
  </div>
  