<!-- Navbar -->
<nav class="navbar navbar-light bg-dark">
    <div class="container">
     <h2 class="text-light primary py-3">Student Management System</h2>
     <div class="d-flex">
        <button class="btn btn-success"(click)="add()" data-toggle="modal" data-target="#exampleModal">Add Student</button>
        <button class="btn btn-warning">Logout</button>
     </div>
    </div>
</nav>

<!-- Table -->
<table class="table mt-4">
    <thead>
        <tr>
            <!-- <th scope="col">U.Id</th> -->
            <th scope="col">Author</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Adress</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allinfo">
            <!-- <td >{{data.id}}</td> -->
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.Address}}</td>
            <td>
                <button class="btn btn-info" (click)="edit(data)" data-toggle="modal" data-target="#exampleModal">Edit</button>

                <button class="btn btn-danger" (click)="deleteinfo(data)">Delete</button></td>
            
        </tr>
    </tbody>
</table>

<!-- Model -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style=" background-color: blue;"class="modal-header">
          <h5 style="color: aliceblue;font-size: 26px;"class="modal-title" id="exampleModalLabel">Student Management System</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="name" formControlName= "name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name">
                  <small *ngIf="formValue.get('name')?.invalid && formValue.get('name')?.touched" class="text-danger">Name is Required</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email"  formControlName= "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your email">
                    <small *ngIf="formValue.get('email')?.invalid && formValue.get('email')?.touched" class="text-danger">Email is Required</small>
                </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mobile</label>
                    <input type="number"  formControlName= "mobile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Contact Number">
                    <small *ngIf="formValue.get('mobile')?.invalid && formValue.get('mobile')?.touched" class="text-danger">Contact Details is Required</small>
                </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="name"   formControlName= "Address"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Address">
                    
                    <small *ngIf="formValue.get('Address')?.invalid && formValue.get('Address')?.touched" class="text-danger">Address is Required</small>

                </div>
                 
               
               
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          <button type="button" *ngIf="showadd" class="btn btn-success"data-dismiss="modal"(click)="addinfo()">Add</button>
          <button  (click)="update()" type="button" *ngIf="showupdate" class="btn btn-success"data-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>
